include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include qimc *.css
recursive-include qimc *.csv
recursive-include qimc *.html
recursive-include qimc *.ico
recursive-include qimc *.js
recursive-include qimc *.json
recursive-include qimc *.md
recursive-include qimc *.png
recursive-include qimc *.py
recursive-include qimc *.svg
recursive-include qimc *.txt
recursive-exclude qimc *.pyc